doctype html
html(lang="es")
  head
    title= pageTitle
    style
      include ../public/css/style.css
  body
    nav
      ul
        li
          a(href="/") Inicio
        if user
          li
            a(href="/alumnos") Alumnos
          li
            a(href="/profesores") Profesores
          li
            a(href="/asignaturas") Asignaturas
          li
            a(href="/matricular") Matriculas
          li
            a(href="/logout") Cerrar Sesion
        else
          li
            a(href="/login") Iniciar Sesion
  block content

  footer
    br
    p IES VIRGEN DEL CARMEN (2023)